<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head') %>

  <!-- javascript code -->
  <body>
    <%- include('../components/navbar') %>
    <div class="container"><%- body %></div>
  </body>
</html>
